<h2>The word is:<%= @word.find%> </h2>
<h2>This is a <%= @word.find%></h2>
<%= @image %>
<img src="/images/duck.png"/>
<a href='/'>Return to home page</a>
<img src="/images/button.jpg" alt="Do some Action" />
